@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
  --usuarios: #4a77e2;
  --pacientes: #7cc4f7;
  --materiais: #7cc4f7;
  --receitas: #7cc4f7;
}

.container-box {
  font-size: 16px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 2rem 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.box {
  background-color: white;
  width: 360px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.banner {
  background-image: url(https://i.imgur.com/sCxHVQ2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.banner img {
  background-color: white;
  width: 8rem;
  height: 8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 50%;
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.banner img:hover {
  transform: translateY(50%) scale(1.3);
}

.banner .menu {
  width: 100%;
  height: 5.5rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}

.menu .opener {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}

.menu .opener:hover {
  background-color: #f2f2f2;
}

h2.name {
  text-align: center;
  padding: 0 2rem 0.5rem;
  font-weight: 600;
  margin: 0;
  margin-top: 15%;
}

.title {
  color: lighten(#404040, 50%);
  font-size: 0.85rem;
  text-align: center;
  padding: 0 2rem 1.2rem;
}

.actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  order: 99;
}

.actions .info-matricula {
  padding: 0 0 1rem;
  display: flex;
}

.actions .info-matricula h2 {
  text-align: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.info-matricula h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}

.info-matricula h2 a:hover {
  background-color: #f2f2f2;
}

a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  transform: scaleY(1.3);
  transition: color 100ms ease-in-out;
}

a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}

.follow-btn button {
  color: inherit;
  font: inherit;
  font-weight: bold;
  background-color: #ffd01a;
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem / 50%;
  transition: background-color 100ms ease-in-out,
    transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.follow-btn button:hover {
  background-color: #efb10a;
  transform: scale(1.1);
}

.follow-btn button:active {
  background-color: #e8a200;
  transform: scale(1);
}

.desc {
  padding: 0 2rem 1rem;
}
