<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 mt-5 border-top"
>
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24">
        <use xlink:href="#bootstrap" />
      </svg>
    </a>
    <span class="text-muted">&copy; 2022 Startup de TI, UNICEPLAC </span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a
        class="text-muted"
        target="_blank"
        href="https://www.linkedin.com/showcase/projeto-startup-do-curso-de-sistemas-de-informa%C3%A7%C3%A3o/"
      >
        <i data-feather="linkedin"></i>
      </a>
    </li>
    <li class="ms-3">
      <a
        class="text-muted"
        target="_blank"
        href="https://github.com/rubensdimasjr"
      >
        <i data-feather="github"></i>
      </a>
    </li>
    <li class="ms-3">
      <a
        class="text-muted"
        target="_blank"
        href="https://www.instagram.com/tecnologias_uniceplac/"
      >
        <i data-feather="instagram"></i>
      </a>
    </li>
  </ul>
</footer>
